body{
    background-color: #E2E2E2;
    line-height: 1.34;
}

h2{
 text-align: center;
 color: #1877f2;
font-size: 40px;
 padding: 8px 0 16px 0;
letter-spacing: -2.7px;

}
div{
    border: thin;
    border-radius: 7px;
    box-shadow:5px 5px 3px 3px  rgb(190, 186, 186);
    width: fit-content;
    height: fit-content;
    padding:20px 20px;
    
    text-align: center;
    font-size: 20px;
    background-color: #fdfdfd;
    max-width: 100%;
    margin: 0 auto;

}
input{

    line-height: 48px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin-top: 15px;
    font-size: 17px;
    cursor:auto;
    padding: 14px 16px;
    width: 332px;
    height: 22px;
    outline: none;
  
}
input:focus {
    border-color:  #1877f2;
  }

.login{
    background-color: #1877f2;
    font-size: 20px;
    font-style: normal white;
    color: white;
    line-height: 48px;
    padding: 0 16px;
    width: 370px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    
}
.newacc{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: white;
    line-height: 48px;
    padding: 0 16px;
    width: 180px;
    font-size: 15px ;
    cursor: pointer;

}
a {
    color: #1877f2;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family:sans-serif;
    line-height: 40px;
    
}
hr{
    color: #dddada;
}

